ipywidgets==8.1.3
joblib==1.4.2
jupyterlab_widgets==3.0.11
matplotlib==3.9.0
nibabel==5.2.1
numpy==2.0.1
opencv-python==4.10.0.84
PyYAML==6.0.1
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.1.0
sympy==1.13.1
torch==2.4.0
torchcubicspline @ git+https://github.com/patrick-kidger/torchcubicspline.git@d16c6bf5b63d03dbf2977c70e19a320653b5e4a8
widgetsnbextension==4.0.11
